// Load Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

$red: #ec1b24;
$dark-red: #ab1219;
$ligh-red: #ffb891;
$cherry: #971117;
$black: #000000;
$dark-gray: #6a6d73;
$light-gray: #717274;
$gray: #555555;
$ligh-brown: #3c3e44;
$brown: #3b3b3b;
$dark-brown: #2f3133;
$black: #0f0c0c;
$beige: #e8e8e8;
$dark-beige: #dcdcdc;
$ligh-beige: #d0d0d0;
$lactic: #848587;
$white: #ffffff;
